* {
    margin: 0;
    padding: 0;
}

.bg-primary {
    background: linear-gradient(57deg, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1)) !important;
}

.bg-dark {
    background-color: #000 !important;
}

.rounded {
    border-radius: 25px !important;
}

.btn-primary {
    color: #fff !important;
    background: linear-gradient(57deg, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1)) !important;
    border: none !important;
    box-shadow: 0 0.2rem, 8rem rgba(0, 0, 0, 0.15) !important;
}

.btn-primary:hover {
    background: linear-gradient(57deg, rgba(238, 174, 202, 1)) !important;
}

.display-6 {
    font-size: 1.6rem !important;
}

/* .border {
    border: 3px solid !important;
    border-image: linear-gradient(57deg, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1)) 1 !important;
    border-radius: 25px !important;
} */

/* .btn-primary {
    background: linear-gradient(57deg, rgba(238, 174, 202, 1), rgba(148, 187, 233, 1));
} */


.str-chat__channel {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, #c9e8c9, #b7e7bb); */
    height: 100%;
}

.str-chat__container {
    /* max-width: 600px; */
    width: 100%;
    height: 100% !important;
    margin: 0 auto !important;
    border-radius: 14px;
    box-shadow: 10px 10px 10px rgba(6, 5, 5, 0.05), -10px -0px 10px rgba(6, 5, 5, 0.05) !important;
    overflow: hidden;
}

.str-chat__list {
    background-color: #fff;
    padding: 12px;
}

.str-chat__list-notifications {
    display: none;
}

.str-chat__message-input {
    border-top: 1px solid #ddd;
}